
/*-------------------------------------------------
 =  Table of Css

 1.Isotope
 1.KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT
 3.Header
 4.General
 5.content - home sections
 6.Portfolio grid pages
 7.Portfolio masonry pages
 8.Portfolio black pages
 9.Portfolio alternative pages
 10.Portfolio vertical style
 11.blog one col, standard
 12.blog grid
 13.blog masonry
 14.blog medium
 15.blog alternative
 16.blog timeline
 17.sidebar
 18.single post
 19.single project pages
 20.error page
 21.comming soone page
 22.faq's page
 23.typography page
 24.Tabs & accordion page
 25.footer
 26.Responsive part
-------------------------------------------------*/
/*-------------------------------------------------------*/
/* 1. Isotope filtering
/*-------------------------------------------------------*/

body{
  background-color: #777777;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:    1.0
date:       07/27/11
author:     themepunch
email:      support@themepunch.com
website:    http://www.themepunch.com
-----------------------------------------------------------------------------*/
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px;
}
/*********************************************
    -   SETTINGS FOR BANNER CONTAINERS  -
**********************************************/
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}
.tp-banner {
  width: 100%;
  position: relative;
}
.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}
/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/
.navbar-default {
  background: #ffffff !important;
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-header {
  float: none;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
.navbar-header .navbar-brand {
  display: inline-block;
  float: none;
  height: auto;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  margin: 0;
  color: #222222 !important;
  padding: 25px 15px 35px;
  letter-spacing: 2.5px;
}
.navbar-header .navbar-brand span {
  color: #fde3a7;
}
.navbar-nav {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.navbar-nav > li > a {
  color: #999999 !important;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 45px 15px;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a.active {
  color: #fde3a7 !important;
}
.navbar-nav li.drop {
  position: relative;
}
.navbar-nav li.megadrop {
  position: inherit !important;
}
.navbar-nav > li.search .form-search {
  margin: 0;
  padding: 35px 0;
  width: 150px;
  padding-right: 15px;
}
.navbar-nav > li.search .form-search input[type="search"] {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 10px;
  margin: 0;
  color: #999999;
  padding: 8px 15px;
  border: none;
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #cccccc;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  background: transparent;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}
.navbar-nav > li.search .form-search button {
  background: #ffffff;
  border: none;
  float: right;
  margin: 0;
  margin-top: -30px;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}
.navbar-nav > li.search .form-search button i {
  color: #999999;
  font-size: 16px;
}
header.active .navbar-default {
  background: rgba(255, 255, 255, 0.95);
}
header.active .navbar-brand {
  color: #222222 !important;
  padding: 15px 15px;
}
header.active .navbar-nav > li > a {
  color: #999999 !important;
  padding: 20px 15px;
}
header.active .navbar-nav > li > a:hover,
header.active .navbar-nav > li > a.active {
  color: #fde3a7 !important;
}
header.active .navbar-nav > li.search .form-search {
  padding: 10px 0;
}
header.active .megadrop-down {
  box-shadow: 0 0 3px #dddddd;
  -webkit-box-shadow: 0 0 3px #dddddd;
  -moz-box-shadow: 0 0 3px #dddddd;
  -o-box-shadow: 0 0 3px #dddddd;
}
.navbar-collapse {
  position: relative;
}
.megadrop-down {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  background: #ffffff;
  padding: 0 20px;
  box-shadow: 0 0 2px #eeeeee;
  -webkit-box-shadow: 0 0 2px #eeeeee;
  -moz-box-shadow: 0 0 2px #eeeeee;
  -o-box-shadow: 0 0 2px #eeeeee;
}
.megadrop-down .dropdown {
  text-align: left;
}
.megadrop-down .dropdown ul {
  margin: 0;
  padding: 0;
}
.megadrop-down .dropdown ul li {
  list-style: none;
}
.megadrop-down .dropdown ul li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  color: #999999;
  font-size: 12px;
  padding: 15px 16px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
  border-bottom: 1px solid #f3f3f3;
}
.megadrop-down .dropdown ul li a:hover {
  color: #fde3a7;
  background: #f8f8f8;
}
.megadrop-down .dropdown ul li a.comming {
  color: #aaaaaa;
  opacity: 0.4;
}
.megadrop-down .dropdown ul li:last-child a {
  border-bottom: none;
}
.megadrop-down .dropdown ul.last-child li {
  border-right: none;
}
.megadrop-down .dropdown h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 12px;
  margin: 0;
  padding: 17px 16px 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fde3a7;
  text-transform: uppercase;
  color: #333333;
}

li.megadrop:hover .megadrop-down {
  visibility: visible;
  opacity: 1;
}
/*-------------------------------------------------*/
/* =  General
/*-------------------------------------------------*/
.container {
  max-width: 990px;
}
#container {

}
p {
  font-size: 13px;
  color: #999999;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 10px;
}
.vertical-header #content {
  margin-left: 220px;
  padding-top: 0;
  background: #f8f8f8;
}
/*-------------------------------------------------*/
/* =  content - home sections
/*-------------------------------------------------*/
.title-section {
  margin-bottom: 65px;
  text-align: center;
}
.title-section h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.title-section h1 span {
  color: #fde3a7;
}
.title-section > span {
  width: 130px;
  display: inline-block;
  height: 1px;
  border-top: 1px dotted #dddddd;
  position: relative;
  margin: 0 0 25px;
}
.title-section > span:before {
  content: '';
  position: absolute;
  width: 47px;
  height: 7px;
  left: 50%;
  margin-left: -24px;
  top: -4px;
  background: url('../images/pin2.png') center center no-repeat;
}
.title-section.white h1 {
  color: #ffffff;
}
.title-section.white > span:before {
  background: url('../images/pin.png') center center no-repeat;
}
button.mfp-close,
button.mfp-arrow {
  outline: none;
}
a.button-one {
  color: #ffffff;
  background: transparent;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 8px 48px;
}
a.button-one:hover {
  color: #fde3a7;
  border: 2px solid #fde3a7;
}
a.button-two {
  color: #fde3a7;
  background: transparent;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  border: 2px solid #fde3a7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 8px 48px;
}
a.button-two:hover {
  color: #ffffff;
  background: #fde3a7;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #fde3a7;
  border: 1px solid #fde3a7;
}
#top-section {
  position: relative;
}
#top-section .owl-arrows {
  position: absolute;
  width: 100%;
  height: 0;
  top: 50%;
  margin-top: -24px;
  z-index: 9;
}
#top-section .owl-arrows a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 33px;
  height: 48px;
}
#top-section .owl-arrows a.prev-link {
  float: left;
  margin-left: 20px;
  background: url('../images/prev.png') 0 0 no-repeat;
}
#top-section .owl-arrows a.next-link {
  float: right;
  margin-right: 20px;
  background: url('../images/next.png') 0 0 no-repeat;
}
#top-section .owl-arrows a:hover {
  background-position: 0 -48px;
}
#top-section .news-post {
  position: relative;
  padding-right: 1px;
  margin: 0;
  text-align: center;
}
#top-section .news-post img {
  width: 100%;
}
#top-section .news-post .hover-news {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /*background: rgba(51, 51, 51, 0.5);*/
}
#top-section .news-post .hover-news .inner-hover {
  position: absolute;
  z-index: 2;
  width: 340px;
  top: 50%;
  margin-top: -70px;
  left: 50%;
  margin-left: -170px;
}
#top-section .news-post .hover-news .inner-hover span {
  display: inline-block;
  margin: 0;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  opacity: 0.6;
}
#top-section .news-post .hover-news .inner-hover h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 2px;
  padding: 10px 0;
  border-top: 1px dotted rgba(255, 255, 255, 0.5);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
  margin: 5px 0;
  line-height: auto;
}
#top-section .news-post .hover-news .inner-hover h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ffffff;
}
#top-section .news-post .hover-news .inner-hover h2 a:hover {
  color: #fde3a7;
}
#top-section .news-post .hover-news .inner-hover p {
  margin: 0;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0.6;
}
#top-section .news-post .hover-news:before {
  content: '';
  position: absolute;
  top: 80px;
  left: 80px;
  bottom: 80px;
  right: 80px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
#top-section .news-post:hover .hover-news {
  background: rgba(255, 255, 255, 0.4);
}
#top-section .news-post:hover .hover-news:before {
  border: 1px solid transparent;
  background: rgba(51, 51, 51, 0.1);
}
#top-section .owl-theme .owl-controls {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
}
.news-section .news-title {
  padding: 42px 0 38px;
  background: #fde3a7;
}
.news-section .news-title h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
  float: left;
}
.news-section .news-title .owl-arrows {
  float: right;
  text-align: right;
}
.news-section .news-title .owl-arrows a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #222222;
  line-height: 32px;
  text-align: center;
  color: #222222;
  font-size: 18px;
  margin-left: 12px;
}
.news-section .news-title .owl-arrows a:hover {
  background: #ffffff;
  border: 2px solid #ffffff;
}
.news-section .news-post {
  position: relative;
  padding-right: 1px;
  margin: 0;
  text-align: left;
}
.news-section .news-post img {
  width: 100%;
}
.news-section .news-post .hover-news {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.7);
}
.news-section .news-post .hover-news .inner-hover {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 40px;
  left: 0;
  padding: 0 30px;
}
.news-section .news-post .hover-news .inner-hover span {
  display: inline-block;
  margin: 0 0 14px;
  color: #fde3a7;
  border: 1px solid #fde3a7;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: 8px 13px;
  opacity: 0.6;
}
.news-section .news-post .hover-news .inner-hover h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 1.8px;
  margin: 0 0 3px;
  line-height: 20px;
}
.news-section .news-post .hover-news .inner-hover h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ffffff;
}
.news-section .news-post .hover-news .inner-hover h2 a:hover {
  color: #fde3a7;
}
.news-section .news-post .hover-news .inner-hover p {
  margin: 0;
  color: #fde3a7;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.news-section .owl-theme .owl-controls {
  display: none !important;
}
.gallery-section {
  padding: 55px 0 70px;
  position: relative;
  background: url('../upload/banners/1.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.gallery-section .container {
  position: relative;
  z-index: 2;
}
.gallery-section .gallery-box .gallery-post {
  position: relative;
  margin-bottom: 30px;
}
.gallery-section .gallery-box .gallery-post img {
  width: 100%;
}
.gallery-section .gallery-box .gallery-post .hover-gal {
  position: absolute;
  background: rgba(34, 34, 34, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.gallery-section .gallery-box .gallery-post .hover-gal .inner-hover {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0 30px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.gallery-section .gallery-box .gallery-post .hover-gal .inner-hover span {
  display: inline-block;
  margin: 0;
  color: #cccccc;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 20px;
}
.gallery-section .gallery-box .gallery-post .hover-gal .inner-hover h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 20px;
  margin: 0;
}
.gallery-section .gallery-box .gallery-post .hover-gal .inner-hover h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #fde3a7;
}
.gallery-section .gallery-box .gallery-post .hover-gal .inner-hover h2 a:hover {
  opacity: 0.7;
}
.gallery-section .gallery-box .gallery-post .hover-gal:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid transparent;
  background: transparent;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.gallery-section .gallery-box .gallery-post:hover .hover-gal .inner-hover {
  opacity: 1;
}
.gallery-section .gallery-box .gallery-post:hover .hover-gal:before {
  border: 1px solid #fde3a7;
  background: rgba(34, 34, 34, 0.5);
}
.gallery-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/pattern.png');
  opacity: 0.9;
}
.subscribe-section {
  padding: 40px 0 30px;
  text-align: center;
  background: url('../images/pattern.png');
}
.subscribe-section span {
  display: inline-block;
  margin: 0 0 5px;
  color: #fde3a7;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-right: 35px;
  line-height: 40px;
}
.subscribe-section input[type="text"] {
  outline: none;
  font-size: 13px;
  color: #999999;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 10px;
  margin: 0 15px 5px 0;
  padding: 12px 10px;
  border: 1px solid #999999;
  background: transparent;
  width: 300px;
  max-width: 100%;
}
.subscribe-section input[type="submit"] {
  color: #222222;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  padding: 12px 36px;
  border: 1px solid transparent;
  background: #fde3a7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.subscribe-section input[type="submit"]:hover {
  opacity: 0.7;
}
.banner-marketing-section {
  padding: 40px 0;
  text-align: center;
}
.banner-marketing-section a {
  display: inline-block;
}
.banner-marketing-section a img {
  max-width: 100%;
}
.main-block-section .block-box h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 35px;
  font-size: 18px;
}
.main-block-section .block-box .block-part {
  margin-bottom: 35px;
}
.main-block-section .block-box .block-part .blog-post {
  margin-bottom: 30px;
}
.main-block-section .block-box .block-part .blog-post .blog-gal {
  position: relative;
}
.main-block-section .block-box .block-part .blog-post .blog-gal img {
  width: 100%;
}
.main-block-section .block-box .block-part .blog-post .blog-gal span.date {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #222222;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 8px 6px 8px 20px;
  background: #fde3a7;
  letter-spacing: 1.5px;
}
.main-block-section .block-box .block-part .blog-post .blog-content {
  padding: 16px 20px;
  border: 1px solid #e4e4e4;
  border-top: none;
}
.main-block-section .block-box .block-part .blog-post .blog-content ul {
  margin: 0;
  padding: 0;
}
.main-block-section .block-box .block-part .blog-post .blog-content ul li {
  display: inline-block;
  color: #aaaaaa;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-right: 2px;
  margin-bottom: 6px;
}
.main-block-section .block-box .block-part .blog-post .blog-content ul li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ccc;
}
.main-block-section .block-box .block-part .blog-post .blog-content ul li a:hover {
  color: #fde3a7;
}
.main-block-section .block-box .block-part .blog-post .blog-content ul li:before {
  content: '/';
  color: #aaaaaa;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 5px;
}
.main-block-section .block-box .block-part .blog-post .blog-content ul li:first-child:before {
  display: none;
  margin-right: 0;
}
.main-block-section .block-box .block-part .blog-post .blog-content h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1.7px;
  margin-bottom: 12px;
}
.main-block-section .block-box .block-part .blog-post .blog-content h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
}
.main-block-section .block-box .block-part .blog-post .blog-content h2 a:hover {
  color: #fde3a7;
}
.main-block-section .block-box .block-part .blog-post .blog-content > a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #aaaaaa;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 4px;
}
.main-block-section .block-box .block-part .blog-post .blog-content > a:hover {
  color: #222222;
}
.main-block-section .block-box .block-part .blog-post .blog-content p {
  margin-bottom: 10px;
}
.main-block-section .block-box .block-part .blog-post .blog-content p.rate {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #dddddd;
  margin-top: -10px;
}
.main-block-section .block-box .block-part .blog-post .blog-content p.rate i {
  color: #e4e4e4;
  font-size: 11px;
  margin-right: 4px;
}
.main-block-section .block-box .block-part .blog-post .blog-content p.rate i[data-rated="rated"] {
  color: #ffba00;
}
.main-block-section .block-box .block-part .blog-without-photos .blog-post {
  margin-bottom: 10px;
  border: 1px solid #e4e4e4;
}
.main-block-section .block-box .block-part .blog-without-photos .blog-post .blog-gal span.date {
  position: relative;
}
.main-block-section .block-box .block-part .blog-without-photos .blog-post .blog-content {
  border: none;
  padding: 13px 20px;
}
/*-------------------------------------------------*/
/* =  sidebar
/*-------------------------------------------------*/
.sidebar {
  margin-bottom: 40px;
}
.sidebar .widget {
  margin-bottom: 36px;
}
.sidebar .widget h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-weight: 900;
  margin-bottom: 32px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}
.sidebar .widget ul.category-list {
  margin: 0;
  padding: 0;
}
.sidebar .widget ul.category-list li {
  list-style: none;
  margin-bottom: 1px;
}
.sidebar .widget ul.category-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  padding: 7px 18px;
  background: #fde3a7;
  border: 1px solid #fde3a7;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
.sidebar .widget ul.category-list li a span {
  float: right;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.sidebar .widget ul.category-list li a:hover {
  background: #ffffff;
}
.sidebar .widget ul.category-list li a:hover span {
  color: #fde3a7;
}
.sidebar .widget ul.autors-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.sidebar .widget ul.autors-list li {
  list-style: none;
  float: left;
  margin-right: 4px;
  margin-bottom: 5px;
}
.sidebar .widget ul.autors-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  max-width: 50px;
}
.sidebar .widget ul.autors-list li a img {
  width: 100%;
}
.sidebar .widget ul.autors-list li a:hover {
  opacity: 0.7;
}
.sidebar .widget .text-box {
  padding: 15px 17px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 1px;
}
.sidebar .widget .text-box p {
  margin-bottom: 0px;
  font-style: italic;
}
.sidebar .widget .text-box h3 {
  color: #aaaaaa;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin: 0;
  line-height: 20px;
}
.sidebar .widget .text-box:hover {
  border: 1px solid #fde3a7;
}
.sidebar .widget ul.tags-list {
  margin: 0;
  padding: 0;
}
.sidebar .widget ul.tags-list li {
  display: inline-block;
  margin-bottom: 3px;
}
.sidebar .widget ul.tags-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #999999;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  padding: 8px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
}
.sidebar .widget ul.tags-list li a:hover {
  color: #ffffff;
  background: #222222;
  border: 1px solid #222222;
}
.sidebar .tab-posts-box {
  background: #ffffff;
  border: 1px solid #f0f0f0;
}
.sidebar .tab-posts-box ul.nav-tabs {
  text-align: center;
  border: none;
}
.sidebar .tab-posts-box ul.nav-tabs li {
  float: left;
  width: 33.33%;
  border: none;
}
.sidebar .tab-posts-box ul.nav-tabs li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  padding: 8px 3px;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #999999;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  border: none;
  margin: 0;
}
.sidebar .tab-posts-box ul.nav-tabs li a:hover {
  border: none;
  color: #fde3a7;
}
.sidebar .tab-posts-box ul.nav-tabs li.active a {
  border: none;
  background: #fde3a7;
  color: #222222;
}
.sidebar .tab-posts-box .tab-pane {
  padding: 18px 0 0;
}
.sidebar .tab-posts-box .tab-pane ul.top-post-list {
  margin: 0;
  padding: 0;
}
.sidebar .tab-posts-box .tab-pane ul.top-post-list li {
  list-style: none;
  padding: 0 18px 18px 16px;
  overflow: hidden;
}
.sidebar .tab-posts-box .tab-pane ul.top-post-list li img {
  float: left;
  max-width: 50px;
}
.sidebar .tab-posts-box .tab-pane ul.top-post-list li .top-post-content {
  margin-left: 60px;
}
.sidebar .tab-posts-box .tab-pane ul.top-post-list li .top-post-content span {
  display: block;
  margin: 0 0 5px;
  color: #aaaaaa;
  font-size: 11px;
  line-height: 11px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}
.sidebar .tab-posts-box .tab-pane ul.top-post-list li .top-post-content h2 {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  margin: 0 0 15px;
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 14px;
  margin: 0;
}
.sidebar .tab-posts-box .tab-pane ul.top-post-list li .top-post-content h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
}
.sidebar .tab-posts-box .tab-pane ul.top-post-list li .top-post-content h2 a:hover {
  color: #fde3a7;
}
/*-------------------------------------------------*/
/* =  single post
/*-------------------------------------------------*/
.blog-post.single-post .post-gal {
  position: relative;
}
.blog-post.single-post .post-gal span.date {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #222222;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding: 8px 6px 8px 20px;
  background: #fde3a7;
  letter-spacing: 1.5px;
}
.blog-post.single-post h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 26px;
}
.blog-post.single-post p {
  margin-bottom: 30px !important;
}
.blog-post.single-post ul.post-tags {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.blog-post.single-post ul.post-tags li {
  display: inline-block;
  color: #aaaaaa;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-right: 2px;
  margin-bottom: 6px;
}
.blog-post.single-post ul.post-tags li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ccc;
}
.blog-post.single-post ul.post-tags li a:hover {
  color: #fde3a7;
}
.blog-post.single-post ul.post-tags li:before {
  content: '/';
  color: #aaaaaa;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 5px;
}
.blog-post.single-post ul.post-tags li:first-child:before {
  display: none;
  margin-right: 0;
}
.blog-post.single-post blockquote {
  background: #f8f8f8;
  border-left: 2px solid #fde3a7;
  padding: 22px 26px 22px 48px;
  margin-bottom: 30px !important;
}
.blog-post.single-post blockquote p {
  margin: 0 !important;
  color: #222222;
  font-style: italic;
  font-size: 15px;
}
.blog-post.single-post .share-box {
  border-top: 1px solid #e0e0e0;
  padding-top: 30px;
  margin-bottom: 30px;
}
.blog-post.single-post .share-box span {
  display: inline-block;
  margin: 4px 0;
  font-family: 'Lato', sans-serif;
  color: #999999;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}
.blog-post.single-post .share-box ul.social-share {
  margin: 0;
  padding: 0;
  text-align: right;
}
.blog-post.single-post .share-box ul.social-share li {
  display: inline-block;
  margin: 0 1px;
  text-align: center;
}
.blog-post.single-post .share-box ul.social-share li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  background: #222222;
}
.blog-post.single-post .share-box ul.social-share li a:hover {
  background: #fde3a7;
}
.blog-post.single-post .autor-post {
  overflow: hidden;
  background: #f8f8f8;
  margin-bottom: 40px;
}
.blog-post.single-post .autor-post img {
  width: 100px;
  float: left;
  margin-bottom: 0;
}
.blog-post.single-post .autor-post .autor-content {
  padding: 20px 20px 20px 0;
  margin-left: 120px;
}
.blog-post.single-post .autor-post .autor-content h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.blog-post.single-post .autor-post .autor-content p {
  margin-bottom: 0 !important;
}
.blog-post.single-post .comment-section {
  padding-left: 80px;
}
.blog-post.single-post .comment-section h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  padding-bottom: 35px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 40px;
}
.blog-post.single-post .comment-section ul {
  margin: 0;
  padding: 0;
}
.blog-post.single-post .comment-section ul li {
  list-style: none;
}
.blog-post.single-post .comment-section ul li .comment-box {
  overflow: hidden;
  padding-bottom: 35px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 40px;
}
.blog-post.single-post .comment-section ul li .comment-box img {
  width: 70px;
  float: left;
}
.blog-post.single-post .comment-section ul li .comment-box .comment-content {
  margin-left: 85px;
}
.blog-post.single-post .comment-section ul li .comment-box .comment-content h4 {
  color: #222222;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}
.blog-post.single-post .comment-section ul li .comment-box .comment-content h4 a {
  color: #222222;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  float: right;
  font-size: 11px;
  font-weight: 400;
}
.blog-post.single-post .comment-section ul li .comment-box .comment-content h4 a:hover {
  color: #fde3a7;
}
.blog-post.single-post .comment-section ul li .comment-box .comment-content span {
  font-size: 13px;
  color: #999999;
  font-family: 'Lato', sans-serif;
  line-height: 20px;
  margin: 0 0 10px;
  font-size: 11px;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.blog-post.single-post .comment-section ul li .comment-box .comment-content p {
  margin: 0 !important;
}
.blog-post.single-post .comment-section ul.depth .comment-box {
  padding-left: 100px;
}
.blog-post.single-post .comment-section .comment-form {
  margin-bottom: 40px;
}
.blog-post.single-post .comment-section .comment-form h2 {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 30px;
}
.blog-post.single-post .comment-section .comment-form input[type="text"],
.blog-post.single-post .comment-section .comment-form textarea {
  width: 100%;
  display: block;
  padding: 12px;
  background: #f8f8f8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #999999;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  border: 1px solid #f1f1f1;
  outline: none;
  margin: 0 0 20px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.blog-post.single-post .comment-section .comment-form input[type="text"]:focus,
.blog-post.single-post .comment-section .comment-form textarea:focus {
  border: 1px solid #fde3a7;
}
.blog-post.single-post .comment-section .comment-form textarea {
  min-height: 125px;
  margin-bottom: 40px;
}
.blog-post.single-post .comment-section .comment-form input[type="submit"] {
  display: inline-block;
  outline: none;
  padding: 10px 34px;
  color: #222222;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #fde3a7;
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.blog-post.single-post .comment-section .comment-form input[type="submit"]:hover {
  opacity: 0.7;
}
.blog-post.single-post .comment-section .comment-form .submit-area {
  text-align: center;
}
.blog-post.single-post .comment-section .comment-form .message {
  height: 30px;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}
.blog-post.single-post .comment-section .comment-form .message.error {
  color: #e74c3c;
}
.blog-post.single-post .comment-section .comment-form .message.success {
  color: #fde3a7;
}
/*-------------------------------------------------*/
/* =  contact page
/*-------------------------------------------------*/
#contact-section .contact-info {
  padding: 55px 0;
}
#contact-section .contact-info .title-section {
  margin-bottom: 40px;
}
#contact-section .contact-info .contact-info-box {
  text-align: center;
}
#contact-section .contact-info .contact-info-box span {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  background: #fde3a7;
  margin: 0 0 20px;
}
#contact-section .contact-info .contact-info-box span i {
  color: #ffffff;
  font-size: 30px;
  line-height: 100px;
}
#contact-section .contact-info .contact-info-box h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
#contact-section .contact-info .contact-info-box p {
  margin-bottom: 30px;
}
#contact-section .map {
  height: 418px;
}
#contact-section .contact-form {
  padding: 50px 0 60px;
}
#contact-section .contact-form h2 {
  color: #222222;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
#contact-form input[type="text"],
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-bottom: 30px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #999999;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
#contact-form input[type="text"]:focus,
#contact-form textarea:focus {
  border: 1px solid #fde3a7;
}
#contact-form textarea {
  height: 120px;
}
#contact-form input[type="submit"] {
  padding: 10px 37px;
  outline: none;
  border: 2px solid #333333;
  color: #333333;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#contact-form input[type="submit"]:hover {
  border: 2px solid #fde3a7;
  color: #fde3a7;
}
#contact-form .submit-area {
  text-align: center;
}
#contact-form .message {
  height: 30px;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}
#contact-form .message.error {
  color: #e74c3c;
}
#contact-form .message.success {
  color: #fde3a7;
}
/*-------------------------------------------------*/
/* =  error page
/*-------------------------------------------------*/
.error-section {
  padding: 20px 0;
  position: relative;
  background: url('../upload/banners/error.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
}
.error-section span {
  display: inline-block;
  color: #222222;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  font-size: 48px;
  color: #fde3a7;
  margin-bottom: 25px;
  letter-spacing: 4px;
}
.error-section h1 {
  color: #222222;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 2px;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  max-width: 460px;
  margin: 0 auto 20px;
  line-height: 52px;
}
.error-section p {
  margin-bottom: 25px;
}
.error-section a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border-color: #fde3a7;
  color: #fde3a7;
}
.error-section a:hover {
  color: #ffffff;
  background: #fde3a7;
}
.error-section .error-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -130px;
  z-index: 2;
}
.error-section:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.8);
}
/*-------------------------------------------------*/
/* =  Footer
/*-------------------------------------------------*/
footer {
  padding-top: 50px;
  text-align: center;
}
footer h2 {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
footer ul.social-list {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}
footer ul.social-list li {
  display: inline-block;
  margin: 0 4px;
}
footer ul.social-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #222222;
  font-size: 18px;
  background: #fde3a7;
  border: 1px solid #fde3a7;
}
footer ul.social-list li a:hover {
  background: #ffffff;
  border: 1px solid #999999;
}
footer p.copyright {
  padding: 25px 0;
  border-top: 1px dotted #717173;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}
/*-------------------------------------------------*/
/* =  Responsive Part
/*-------------------------------------------------*/
@media (max-width: 1500px) {
  #top-section .news-post .hover-news:before {
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
  }
  #top-section .news-post .hover-news .inner-hover {
    width: 280px;
    margin-left: -140px;
    margin-top: -60px;
  }
  #top-section .news-post .hover-news .inner-hover h2 {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  header .navbar-nav > li > a {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .page-banner-section {
    text-align: center;
  }
  .page-banner-section ul {
    text-align: center;
  }
  .error-section,
  .comming-soon-section {
    padding: 50px 0;
  }
  #top-section .news-post .hover-news:before {
    display: none;
  }
  #top-section .owl-arrows {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-toggle {
    margin-top: 19px;
  }
  header.active .navbar-default .navbar-toggle {
    margin-top: 19px;
  }
  header .navbar-nav > li > a {
    padding: 4px 15px !important;
    color: #222222 !important;
  }
  .megadrop-down {
    position: relative;
    visibility: visible;
    opacity: 1;
    top: inherit;
    left: inherit;
    background: transparent;
    padding: 5px 25px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
  }
  .megadrop-down .dropdown h2 {
    display: none;
  }
  .megadrop-down .dropdown ul li {
    padding-bottom: 0px;
  }
  .megadrop-down .dropdown ul li a {
    padding-bottom: 9px;
  }
  .megadrop-down .dropdown a.comming {
    display: none;
  }
  #top-section .news-post .hover-news .inner-hover {
    max-width: 100%;
  }
  .news-section .news-title h1 {
    text-align: center;
    float: none;
  }
  .news-section .news-title .owl-arrows {
    float: none;
    text-align: center;
  }
  #container {
    padding-top: 80px;
  }
}
